---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/33dfce72-6c0b-b713-65bd-839f47aa68f2/children
    body:
      encoding: UTF-8
      string: '{"children":[{"object":"block","type":"heading_2","heading_2":{"text":[{"type":"text","text":{"content":"Lacinato
        kale"}}]}},{"object":"block","type":"paragraph","paragraph":{"text":[{"type":"text","text":{"content":"example
        content","link":{"url":"https://en.wikipedia.org/wiki/Lacinato_kale"}}}]}}]}'
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a5-By27T1A0adNs6udStbqKZglevL0"
    body:
      encoding: UTF-8
      string: '{"object":"block","id":"33dfce72-6c0b-b713-65bd-839f47aa68f2","created_time":"2021-07-09T09:38:00.000Z","last_edited_time":"2021-07-09T10:19:00.000Z","has_children":true,"type":"paragraph","paragraph":{"text":[{"type":"text","text":{"content":"Example1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Example1","href":null}]}}'
  recorded_at: Fri, 09 Jul 2021 10:19:57 GMT
