---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/33dfce72-6c0b-b713-65bd-839f47aa68f2/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42-fth8CJD/wLL363ZVfU5rvF8LaDA"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false}'
  recorded_at: Fri, 09 Jul 2021 10:19:56 GMT
