---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/30f8638c-7bac-bd1c-62bf-81ce1fdb8069/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"title","text":{"contains":"A Notion Page"}}]}}'
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99a15b11-b215-d4a9-0bf2-5cbee0497a20"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"85954254-e880-1bfd-54be-5ff867ec0b31","created_time":"2019-05-17T00:47:00.000Z","last_edited_time":"2021-03-20T01:30:00.000Z","parent":{"type":"database_id","database_id":"30f8638c-7bac-bd1c-62bf-81ce1fdb8069"},"archived":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"A Notion Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"A Notion Page","href":null}]}},"url":"https://www.notion.so/A-Notion-Page-85954254-e880-1bfd-54be-5ff867ec0b31"}],"next_cursor":null,"has_more":false}'
  recorded_at: Tue, 06 Jul 2021 11:31:10 GMT
recorded_with: VCR 6.0.0
