---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/pages/3c088cf2-c27d-9b57-156f-53ae10195c95
    body:
      encoding: UTF-8
      string: '{"properties":{"Name":{"title":[{"text":{"content":"Updated"}}]}}}'
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24f-JiezUWz81kM9dbEHdPdhoCcDhzE"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"3c088cf2-c27d-9b57-156f-53ae10195c95","created_time":"2021-07-11T11:56:00.000Z","last_edited_time":"2021-07-11T11:59:00.000Z","parent":{"type":"database_id","database_id":"30f8638c-7bac-bd1c-62bf-81ce1fdb8069"},"archived":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Updated","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Updated","href":null}]}},"url":"https://www.notion.so/Updated-3c088cf2-c27d-9b57-156f-53ae10195c95"}'
  recorded_at: Sun, 11 Jul 2021 11:59:30 GMT
