---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/3c088cf2-c27d-9b57-156f-53ae10195c95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25b-95Vgs+t9k/OBK6bsOHRY5Js7ts8"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"3c088cf2-c27d-9b57-156f-53ae10195c95","created_time":"2021-07-06T13:11:00.000Z","last_edited_time":"2021-07-06T13:14:00.000Z","parent":{"type":"database_id","database_id":"30f8638c-7bac-bd1c-62bf-81ce1fdb8069"},"archived":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"ExamplePage","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"ExamplePage","href":null}]}},"url":"https://www.notion.so/ExamplePage-5da90f4f6dc1410bb73bdcb3a4739915"}'
  recorded_at: Tue, 06 Jul 2021 13:14:45 GMT
recorded_with: VCR 6.0.0
