---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/users/47bd6f41-3798-354a-749a-a6d229b974aa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff-DE5dgvWPd/EkyoHWXvl21rblslE"
    body:
      encoding: UTF-8
      string: '{"object":"user","id":"47bd6f41-3798-354a-749a-a6d229b974aa","name":"example","avatar_url":"dummy","type":"person","person":{"email":"notion@example.com"}}'
  recorded_at: Sun, 11 Jul 2021 11:12:48 GMT
recorded_with: VCR 6.0.0
