---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer secret_dummy
      Notion-Version:
      - '2021-05-13'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c9-X+iA5EcKPVVu2kQ0wD+mV1LIWlY"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"user","id":"47bd6f41-3798-354a-749a-a6d229b974aa","name":"Example","avatar_url":"dummy","type":"person","person":{"email":"notion@example.com"}}],"next_cursor":null,"has_more":false}'
  recorded_at: Sun, 11 Jul 2021 11:11:19 GMT
recorded_with: VCR 6.0.0
